*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(40,69,90);
    background: linear-gradient(180deg, rgba(40,69,90,1) 0%, rgba(20,34,44,1) 55%, rgba(0,0,0,1) 80%);
    height: 120vh;
    }
    .nome-do-app{
        color: #FFF;
        text-align: center;
        font-family: 'Abril Fatface';
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    p{
        color: #FFF;
        font-family: 'Merge One';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conteiner{
        background-color: #FFFFFF;
        width: 320px;
        height: 660px;
        border-radius: 10px;
        padding: 15px;
       
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .conteiner div p{
        color: black;
        font-family: 'Nunito';
        font-size: 25px;
        font-weight: 600;
        
        
    }
    .nome input{
        border: none;
        background-color: #C0D4E2;
        border-radius: 10px;
        width: 284px;
        height: 40px;
    }
    .data input{
        border: none;
        background-color: #C0D4E2;
        border-radius: 10px;
        width: 33px;
        height: 30px;
        font-family: 'Nunito';
        font-size: 16px;
    }
    .data .ano{
        border: none;
        background-color: #C0D4E2;
        border-radius: 10px;
        width: 74px;
        height: 30px;
        font-family: 'Nunito';
        font-size: 16px;
    }
